body {
	background-color: #c8c8c8;
	color: #242325;
}

div {
	border-radius: 5px;
}

#header {
	width: 98.5%; 
	height: 50px;
	position: fixed;
/*	margin-top: 5px;
	margin-bottom: 10px; */
	background-color: #b3b3b3; 
}

.left {
	float: left;
	width: 5%;
	background-color: #dc965a;
	height: 750px;
	margin-top: 65px;
	margin-bottom: 10px;
}

.right {
	background-color: #bbb891;
	margin-top: 65px;
	margin-bottom: 10px;
	width: 93%;
	height: 750px;
	float: right;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #b3b3b3;
	clear: both;
}
